# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Conda / Virtual Environments
# ===============================
env/
venv/
.venv/
*.conda
conda-meta/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Data files (raw & large)
# ===============================
data/
Dataset/
*.csv

# ===============================
# Azure ML (VERY IMPORTANT)
# ===============================
config.json
.azureml/

# ===============================
# Model artifacts
# ===============================
models/
outputs/


# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# MLflow
# ===============================
mlflow.db
mlruns/
